.version.eelvaade /* version checker */
{
	color: #0000E0;
	background-color: #CB0701;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 376px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 62px;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u180
{
	z-index: 2;
	background-color: #FFFFFF;
	position: relative;
	width: 83.65%;
	margin-left: 8.13%;
}

#u180_position_content
{
	padding-top: 48px;
	padding-bottom: 33px;
	width: 100%;
}

#u181
{
	z-index: 3;
	background-color: transparent;
	position: relative;
	width: 106.23%;
	left: -3.62%;
}

#u176-5
{
	z-index: 5;
	min-height: 15px;
	background-color: transparent;
	font-size: 11px;
	letter-spacing: 11px;
	text-transform: uppercase;
	text-align: center;
	line-height: 13px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-top: 16px;
	position: relative;
	width: 24.41%;
	margin-left: 37.86%;
}

#u177-5
{
	z-index: 10;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	letter-spacing: 11px;
	font-size: 11px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
	width: 30.64%;
	margin-left: 35.12%;
}

#u178-5
{
	z-index: 15;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	letter-spacing: 11px;
	font-size: 11px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-top: 11px;
	position: relative;
	width: 28.9%;
	margin-left: 35.87%;
}

#u179-5
{
	z-index: 20;
	min-height: 15px;
	background-color: transparent;
	font-size: 11px;
	letter-spacing: 11px;
	text-transform: uppercase;
	text-align: center;
	line-height: 13px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-top: 9px;
	position: relative;
	width: 39.36%;
	margin-left: 30.39%;
}

#u255
{
	z-index: 25;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
	width: 40.35%;
	margin-left: 29.89%;
}

#u181_img,#u255_img
{
	width: 100%;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 320px;
}

