.version.v_ta_omale /* version checker */
{
	color: #0000EF;
	background-color: #790EC9;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 376px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 62px;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u218
{
	z-index: 2;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	position: relative;
	width: 83.65%;
	margin-left: 8.13%;
}

#u218_position_content
{
	padding-top: 48px;
	padding-bottom: 190px;
	width: 100%;
}

#u216
{
	z-index: 3;
	background-color: transparent;
	position: relative;
	width: 106.23%;
	left: -3.62%;
}

#u216_img
{
	width: 100%;
}

#u222-5
{
	z-index: 5;
	min-height: 15px;
	background-color: transparent;
	font-size: 11px;
	letter-spacing: 11px;
	text-transform: uppercase;
	text-align: center;
	line-height: 13px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-top: 16px;
	position: relative;
	width: 24.41%;
	margin-left: 37.86%;
}

#u219-5
{
	z-index: 10;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	letter-spacing: 11px;
	font-size: 11px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
	width: 30.64%;
	margin-left: 35.12%;
}

#u221-5
{
	z-index: 15;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	letter-spacing: 11px;
	font-size: 11px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-top: 11px;
	position: relative;
	width: 28.9%;
	margin-left: 35.87%;
}

#u220-5
{
	z-index: 20;
	min-height: 15px;
	background-color: transparent;
	font-size: 11px;
	letter-spacing: 11px;
	text-transform: uppercase;
	text-align: center;
	line-height: 13px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-top: 9px;
	position: relative;
	width: 39.36%;
	margin-left: 30.39%;
}

#u272-5
{
	z-index: 25;
	min-height: 32px;
	background-color: transparent;
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 84px;
	position: relative;
	width: 42.22%;
	margin-left: 28.9%;
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 320px;
}

